# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch & models
*.pth
*.pt
*.onnx
*.pb
*.ckpt
checkpoints/
runs/
logs/

# FastAPI / Uvicorn
*.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
